.pagination {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    margin-block:2.5rem;
}

.page {
    display: block;
    padding:.8em;
    background:#dfdfdf;
    border-radius: 15px;
    cursor: pointer;
}
.page.active {
    background:linear-gradient(rgb(50, 165, 203),blue);
    color:#fff;
}