<a href="https://www.softr.io/tools/svg-wave-generator" target="_blank">
    <div class="custom-flex gradient-hover-effect">
        <div class="img-wrapper">
            <img src="assets/softr-logo.png" alt="softr-logo.png">
        </div>
        <div class="content">
            <h2>Create Beautiful SVG Waves</h2>
            <p>This website lets you create SVG waves</p>
        </div>
    </div>
</a>

<a href="https://jsonplaceholder.typicode.com/" target="_blank">
    <div class="custom-flex gradient-hover-effect">
        <div class="img-wrapper">
            <img src="assets/json-braces.webp" alt="json-braces.webp">
        </div>
        <div class="content">
            <h2>Free fake and reliable API for testing and prototyping.</h2>
            <p>This website lets you make API calls</p>
        </div>
    </div>
</a>

<a href="https://www.flaticon.com/" target="_blank">
    <div class="custom-flex gradient-hover-effect">
        <div class="img-wrapper">
            <img src="assets/flaticon.png" alt="flaticon.png">
        </div>
        <div class="content">
            <h2>Download Free Icons and Stickers for your projects.</h2>
            <p>This website lets you download various images and icons for free</p>
        </div>
    </div>
</a>

