.grid {
    display:grid;
    grid-template-columns: repeat(auto-fit,15rem);
    justify-content: center;
    gap:1rem;
    margin-block:1.5rem;
    text-align: center;
}

.grid-item {
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    padding:1em;
}

h2 {
    margin-block:.8rem;
    color:rgb(0, 106, 255);
}

img {
    width:min(12rem,75%);
    margin-inline: auto;
}